.book-container {
    display: none;
}

.book-container.active {
    display: flex;
}

.lessons-grid {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.lesson-item {
    display: block;
    padding: 15px 20px;
    background: var(--container-highlight);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color-dark);
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.lesson-item:hover {
    transform: translateY(-3px);
    background-color: #333;
    color: var(--text-color);
    border-color: var(--primary-color);
}

.lesson-number {
    font-weight: 700;
    color: var(--text-color);
    margin-right: 10px;
}

.lesson-title {
    font-weight: 500;
}

@media (max-width: 768px) {
    .lessons-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

}
